*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-image: url(/background\ image.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock-container{
    height: 267px;
    width: 40vw;
    margin: 43px 0px 0px 811px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;

}
.time-container{
    display: flex;
    background-image: linear-gradient(178deg, #fafafa, transparent);
    background-color: #00800085;
    color: #1c1ae79e
}

#time{
    font-size: 60px;
    letter-spacing: 8px;
    font-weight: bolder;
   
}
#am-pm{
    margin-top: 25px;
    font-size: 29px;
    font-weight: bolder;
}
#date{
    font-size: 27px;
    font-weight: bolder;
    color: rgb(122 56 56);
    letter-spacing: 7px;
}
.controls{
    display: flex;
    justify-content: space-between;
    width: 41vw;
}
input{
    font-size: 20px;
    width: 214px;
    letter-spacing: 316px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
    background-color: #e6e67c;
}
button{
    background-color: green;
    height: 35px;
    width: 157px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    border-radius: 14px;
}
button:hover{
    background-color: lightgreen;
    cursor: pointer;
}

.alarams{
    height: 297px;
    width: 40vw;
    margin: 30px 0px 0px 808px;
    text-align: center;
    color: #6d4848;
    padding: 26px;
    opacity: 0.9;

}
.alaram-container{
    margin-top: 60px ;
}
.containers{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.delete-button{
    background-color: #e64e4e;
}
.delete-button:hover{
    background-color: #634646;
}
.alarmListFont{
font-size: large;
}
.alarmListFont:hover{
color: blue;
}
#click{
    margin: 193px 473px 0px 0px;
    position: absolute;
    font-weight: bolder;
    background-color: #e6e67c;
    height: 28px;
    padding: 1px;
    width: 147px;
}
#arrow{
    position: absolute;
    font-size: 26px;
    margin-left: 152px;
    margin-top: 5px;
    background-color: #e6e67c;
    color: blue;
}
i{
    font-size: 31px;
}
.add{
    background-color: blue;
}
#custom-alert1{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color:rgb(39, 35, 35);
    animation-delay: 3s;
}
#custom-alert2{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color:rgb(39, 35, 35);
    animation-delay: 3s;
}
.box{
    /* display: none; */
  border-radius: 5px;
    margin-top: 200px;
    margin-left:500px ;
    height: 150px;
    width: 500px;
    text-align: center;
    background-color:rgb(230, 218, 218);

}
.heading{
    background-color: lightgreen;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
.content p{
    margin-bottom: 20px;
    letter-spacing: 5px;
}
#confirm{
    width: 60px;
}
